nav.navbar.navbar-static-top.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(ui-sref="app.home")
        span.fa.fa-fort-awesome
        |  Microservices UI
        
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ui-sref-active="active")
          a(ui-sref="app.home") Home
        li(ui-sref-active="active")
          a(ui-sref="app.persons") Persons
        li
          
      ul.nav.navbar-nav.navbar-right.acme-navbar-text
        li
          a(href='https://github.com/materasystems/crud-microservices/' target="_blank") Github
